body {
	min-width: 1280px;
	width: 100%;
	font-family: 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
}

/*头部*/
header {
	height: 57px;
	line-height: 57px;
	vertical-align: middle;
	padding: 0 6%;
	background: #ffffff;
}

.header-title {
	font-size: 21px;
	height: 100%;
	padding-left: 44px;
	background: url(img/0_1.png) left center no-repeat;
	display: inline-block;
}

.header-login {
	float: right;
	font-size: 14px;
	padding-left: 25px;
	background: url(img/0_2.png) left center no-repeat;
	margin-top: -4px;
	color: #e7504d;
}

.header-nav {
	float: right;
}

.header-nav ul {
	display: flex;
	font-size: 14px;
	color: #787b83;
}

.header-nav li {
	margin-top: -4px;
}

.header-nav li a {
	box-sizing: border-box;
	display: inline-block;
	padding: 0 20px;
	height: 100%;

}

.li-selected {
	border-bottom: 4px solid #e7504d;
	color: #e7504d;
}

/*第一层*/
.first {
	width: 100%;
	height: 690px;
	overflow: hidden;
	background: url(img/1_1.png) center top no-repeat;
	background-size: cover;
}

.first .first-big {
	font-size: 60px;
	color: #ffffff;	
	margin: 15% auto 30px 10%;
}

.first .first-small {
	font-size: 21px;
	color: #fffdfd;
	margin: 0 auto 10px 10%;
}

.first .first-start {
	background: #e74f4d;
	font-size: 30px;
	color: #ffffff;
	width: 330px;
	height: 65px;
	line-height: 65px;
	display: block;
	margin: 65px auto auto 10%;
	text-align: center;
	letter-spacing: 5px;
}

.second ul {
	display: flex;
	margin: 45px auto 65px auto;

}

.second li {
	padding-top: 92px;
	flex:1;
	position: relative;
}

.second .li-first:after, .second .li-second:after, .second .li-third:after{
	content: "";
	width: 2px;
	height: 50px;
	background: #aaaaab;
	position: absolute;
	right: 0;
	top: 92px;
}

.second .li-first {
	background: url(img/2_1.png) no-repeat center top;
}
.second .li-second {
	background: url(img/2_2.png) no-repeat center top;
}
.second .li-third {
	background: url(img/2_3.png) no-repeat center top;
}
.second .li-forth {
	background: url(img/2_4.png) no-repeat center top;
}


.second p {
	width: 162px;
	font: normal 14px/18px "SimHei";
	color: #767777;
	text-align: center;
	margin: auto;
}

.third {
	background: #ededec;
	padding: 90px 0 80px 0;
}

.third .third-img {
	width: 100%;
	height: 100px;
	display: block;
	background: url(img/3_1.png) no-repeat center;
}

.third .third-info {
	font: normal 54px/56px "SimHei" ;
	color: #323333;
	letter-spacing: 0.1em;
	text-align: center;
	opacity: 0.5;
	margin-top: 50px;
}

.forth {
	background: url(img/4_1.png) no-repeat center;
	background-size: cover;
}

.forth-cover {
	background-color: rgba(170, 50, 50, 0.2);
	padding: 53px 0 134px 0;
}

.forth .forth-big {
	font-size: 21px;
	line-height: 41px;
	position: relative;
	text-align: center;
	color: #ffffff;
	letter-spacing: 0.1em;
}

.forth .forth-big:after {
	content: "";
	width: 36px;
	height: 2px;
	background: #ffffff;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -18px;
}

.forth .forth-small {
	font-size: 12px;
	line-height: 32px;
	color: #ffffff;
	text-align: center;
	margin-top: 15px;
}

.forth .forth-ul {
	display: flex;
	margin-top: 50px;
	justify-content: center;
}

.forth .forth-ul li {
	margin: 0 30px;
}

.forth .forth-ul select {
	width: 236px;
	height: 36px;
	line-height: 36px;
	font-size: 12px;
	color: #a8aaaa;
	border-radius: 2px;
}

.forth .forth-search {
	width: 236px;
	height: 36px;
	line-height: 36px;
	font-size: 14px;
	background: #be4e48;
	text-align: center;
	color: #ffffff;
	border: none;
	letter-spacing: 2em;
	text-indent: 2em;
	border-radius: 2px;
}

.fifth {
	background: #f7f7f7;
	padding: 125px 0 110px 0;
}

.fifth .fifth-ul {
	display: flex;
	justify-content: center;
}

.fifth .fifth-ul li {
	margin: 0 20px;
}

.fifth .fifth-ul img {
	margin: 20px;
	box-shadow: 0 0 0 15px rgba(255, 255, 255, 1), 0 0 0 16px rgba(100, 100, 100, 0.2);
}

.fifth .fifth-big {
	font-size: 16px;
	color: #111111;
	text-align: center;
	margin-top: 10px;
}

.fifth .fifth-small {
	text-align: center;
	font-size: 12px;
	color: #999999;
	margin-top: 10px;
	margin-bottom: 10px;
}

.more-space {
	letter-spacing: 2em;
	text-indent: 2em;
}

.sixth {
	display: flex;
}

.sixth .sixth-left {
	width: 66%;
	min-width: 66%;
	background: url(img/6_1.png) no-repeat center;
	background-size: cover;
	color: #ffffff;
	padding: 130px 0 155px 0;
}

.sixth .sixth-left .ch-title {
	font-size: 50px;
	letter-spacing: 2px;
	text-indent: 2px;
	text-align: center;
}

.sixth .sixth-left .en-title {
	font-size: 158px;
	text-align: center;
	margin: 10px 0 40px 0;

}

.sixth .sixth-left .sixth-small {
	font-size: 22px;
	text-align: center;
	margin-top: 20px;
}

.sixth .sixth-right {
	position: relative;
	padding: 164px 0 128px 0;
	text-align: center;

}

.sixth .sixth-right:before {
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	border-right: 24px solid #ffffff;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	top: 50%;
	left: -24px;
	margin-top: -15px;
}

.sixth .sixth-right .ch-title {
	font-size: 20px;
	color: #323333;
	text-align: center;
}

.sixth .sixth-right .order {
	color: #e7504d;
}

.sixth .sixth-content {
	font-size: 12px;
	color: #aaaaaa;
	margin: 30px 0 50px 0;
	padding: 0 72px;
	text-align: left;
	line-height: 30px;
}

.sixth .sixth-more {
	font-size: 12px;
	padding: 8px 30px;
	border: 1px solid #e7504d;
	color: #e7504d;
	border-radius: 2px;
}

.sixth .sixth-ul {
	display: flex;
	justify-content: center;
	margin-top: 36px;
}

.sixth .sixth-ul li {
	height: 12px;
	width: 12px;
	border-radius: 100%;
	border: 1px solid #aaaaaa;
	color: #ffffff;
	margin: 0 12px;
}

.sixth-li-selected {
	background: #aaaaaa;
}

.seventh {
	display: flex;
}

.seventh-common {
	width: 33%;
	padding: 170px 0 200px 0;
	font-size: 21px;
	line-height: 31px;
	font-family: "heiti";
	text-align: center;
}

.seventh .seventh-left {
	background-color: #e7504d;
	color: #ffffff;
}

.seventh .seventh-left .see-more {
	border: 1px solid #ffffff;
}

.seventh .seventh-left .see-more:before {
	background: #ffffff;
}

.seventh .seventh-center {
	background-color: #ffffff;
	color: #000000;
}

.seventh .seventh-center .see-more {
	color: #e7504d;
	border: 1px solid #e7504d;

}

.seventh .seventh-center .see-more:before {
	background: #aaaaaa;
}

.see-more {
	display: block;
	height: 44px;
	line-height: 44px;
	width: 170px;
	text-align: center;
	border-radius: 2px;
	margin: 50px auto;
	position: relative;
}

.see-more:before {
	content: "";
	width: 32px;
	height: 2px;
	position: absolute;
	top: -26px;
	left: 50%;
	margin-left: -16px;
	background: green;
}

.seventh .seventh-right {
	width: 34%;
	background: url(img/7_1.png) no-repeat center;
	background-size: cover;
	position: relative;
}

.seventh .seventh-right:before {
	content: "";
	width: 0;
	height: 0;
	border-left: 24px solid #ffffff;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	position: absolute;
	top: 50%;
	margin-top: -15px;
	left: 0;
}

.eigth {
	width: 100%;
	padding: 120px 0 160px 0;
}

.eigth .eigth-title {
	font-size: 21px;
	line-height: 31px;
	color: #323333;
	text-align: center;
}

.eigth .eigth-info {
	font: normal 12px/18px "Microsoft Yahei";
	color: #aaaaaa;
	padding: 0 460px;
	text-align: center;
	margin-top: 25px;
}

.eigth .eigth-main {
	display: flex;
	padding: 0 140px;
	margin-top: 100px;
}

.eigth .main-left {
	width: 40%;
	padding-right: 70px;
}

.eigth .main-left .clear {
	clear: both;
}

.eigth .main-left h3 {
	color: #231815;
	font: normal 14px "SimHei";
	padding-bottom: 12px;
}

.eigth .main-left p {
	color: #231815;
	font: normal 12px/21px "SimSun";
	opacity: 0.6;
}

.eigth .main-left a {
	float: right;
	color: #231815;
	font: normal 12px/21px "SimSun";
	opacity: 0.6;
	position: relative;
}

.eigth .main-left a:last-child {
	margin-bottom: 0;
}

.eigth .main-left a:before {
	position: absolute;
	content: "";
	width: 5px;
	height: 5px;
	border-left: 1px solid #231815;
	border-bottom: 1px solid #231815;
	transform:rotate(-45deg);
	top: 50%;
	margin-top: -5px;
	left: -15px;
}

.eigth .main-right {
	width: 60%;
}

.eigth .one-row {
	display: flex;
	justify-content: space-between;
}

.eigth .one-row .combine {
	box-sizing: border-box;
	width: 48%;
}

.eigth .combine {
	background: #ededee;
	border-radius: 2px;
	border: none;
	color: #231815;
	font: normal 12px "SimSun";
	margin-top: 15px;
	padding: 12px 12px;
	box-sizing: border-box;
}

.eigth .combine:focus {
	outline: 1px solid blue;
	border: 1px solid
}

.eigth input, .eigth textarea {
	outline: none;
	background: #ededee;
	border: none;
}

.eigth textarea {
	box-sizing: border-box;
	width: 100%;
	max-width: 100%;
}

.eigth .volunteer {
	margin-top: 15px;
	width: 100%;
	background: #ededee;
	border: none;
	line-height: 18px;
	padding: 12px;

}

.info-label {
	float: left;
}

.nineth {
	background: #32353e;
	padding: 90px 0 70px 0;
}

.nineth .nineth-title {
	font: normal 21px/48px "SimHei";
	color: #ffffff;
	text-align: center;
	text-indent: 2px;
	letter-spacing: 2px;
}

.nineth .nineth-info {
	font: normal 12px/18px "SimSun";
	text-align: center;
	text-indent: 2px;
	letter-spacing: 2px;
	padding: 0 30%;
	color: #ffffff;
	margin-top: 9px;
}

.nineth form {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}


.nineth .nineth-email {
	width: 430px;
	padding: 12px;
	border: none;
}

.nineth .nineth-submit {
	width: 80px;
	text-align: center;
	padding: 12px;
	border: none;
	background: #6f7178;
	color: #eeeeee;
}

.nineth ul {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.nineth ul li {
	width: 28px;
	height: 28px;
	background-size: cover;
	margin: 0 10px;
}

.nineth ul .first-img {
	background: url('img/9_1.png') no-repeat center;
}

.nineth ul .second-img {
	background: url('img/9_2.png') no-repeat center;
}

.nineth ul .third-img {
	background: url('img/9_3.png') no-repeat center;
}

.nineth ul .forth-img {
	background: url('img/9_4.png') no-repeat center;
}

footer {
	padding: 0 6%;
	background: #2f2f38;
	font: normal 12px/23px "SimSun";
	color: #ffffff;
	display: flex;
	justify-content: space-between; 
	padding-top:30px;
	padding-bottom: 15px;
}
