body {
	display: flex;
	padding: 0;
	margin: 0;
}
.left {
	width: 320px;
	background-color: red;
	height: 320px;

}

.right {
	width: 320px;
	background-color: yellow;
	height: 320px;
}