body {
	font: normal 100% Helvetica, Arial, sans-serif;
	background-color: #DCDBDC;
	min-width: 900px;
}

html,body,h1,h2,h3,h4,p,ul,tr,th {
	margin:0;
	padding: 0;
}

.header {
	background: #333333;
	height: 70px;
	line-height: 70px;
	padding: 0 50px;
}

.header h1 {
	width: 130px;
	height: 70px;
	float: left;
}

.header h1 img {
	width: 130px;
	height: 55px;
}

.header nav {
	float: right;
}

.header nav ul {
	display: flex;
	justify-content: flex-end;
}

.header nav li {
	color: #ffffff;
	margin-left: 25px;
}

.main {
	margin-right: 440px;
}

.main article, aside {
	margin: 25px 50px 0 50px;
	padding: 30px 25px 30px 25px;
	border-radius: 2px;
	background: #ffffff;
	box-shadow: 2px 2px 1px #888888;
}

.main article .firstTitle {
	font-size: 1.5em;
}

.main article .secondTitle {
	color: #868483;
	font-size: 1.1em;
	margin: 15px 0;
}

.main article .author {
	display: inline-block;
	color: #868483;
	font-size: 0.8em;
	margin-bottom: 10px;
}

.main article time {
	display: inline-block;
	color: #868483;
	font-size: 0.8em;
	text-indent: 1em;
}

.main article p {
	text-indent: 2em;
	line-height: 1.6em;
}

.main article img {
	margin: 10px 0;
}

.main article ul {
	padding: 0 0 0 2em;
}

.main article li {
	list-style: none;
}

.main .nicePic {
	display: flex;
	flex-direction: column;
	align-items: center;
	border:2px solid #aaaaaa;
	padding: 5px;
	width: 100px;
	margin-top:10px;
	margin-bottom: 10px;
	margin-left:2em;
	border-radius: 2px;
	float: left;
}

.main .nicePic span {
	margin: 5px 0;
}

.main .nicePic img {
	width: 100%;
	height: 100%;
}

.main .order li{
	list-style: decimal;
}

.main table {
	width:100%;
	text-align: left;
	margin-top: 20px;
}

.main table th {
	background: #333333;
}

.main table .lastTr {
	background: #CCCCCC;
}

aside {
	width: 360px;
	position: absolute;
	top: 70px;
	right: 0;
	left: auto;
	bottom: auto;
}

aside .asideTitle {
	border-left: 2px solid #aaaaaa;
	font-size: 1em;
	height: 1.6em;
	line-height: 1.6em;
	padding-left: 0.6em;
}

aside span {
	width:35%;
	text-align: right;
	display: inline-block;
	padding-right: 15px;
}

aside form {
	margin:20px 0 0 0;
}

aside .asideContent {
	margin:10px 0;
}

aside input {
	border-radius: 2px;
	border: 1px solid #aaaaaa;
}

aside .contain {
	display: inline-block;
	vertical-align: text-top;
}

aside textarea {
	vertical-align: text-top;
	max-width:  55%;
	border-radius: 2px;
}

aside .requireInfo {
	color: #aaaaaa;
	font-size: 0.8em;
	display: block;
	margin: 10px auto 20px 0;
}

aside #submit {
	width: 100%;
	height: 40px;
	background-color: #3355D0;
	border-radius: 8px;
	color: #ffffff;
	margin-top: 20px;
}

footer {
	width: 100%;
	background: #000000;
	text-align: center;
	height: 60px;
	line-height: 50px;
	color: #ffffff;
	margin-top: 25px;
	font-size: 0.8em;
}

.clear-float {
	overflow: hidden;
}